
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;

  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/




.entete {

  background-color: #fcce00;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  padding: 20px 0;
  padding-top: 0;
  padding-right: 0;
  
  margin-bottom: 5px;
  }

  .entete2 {

    background-color: #ff6b00;
    color: #ffffff;
    text-align: center;
    font-weight: 900;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
  
    }

    .entete3 {

      background-color:#e02020;
      color: #ffffff;
      text-align: center;
      font-weight: 900;
      padding-top: 32px;
      margin-bottom: 5px;
      }


    .entete4 {

      background-color: #b620e0;
      color: #ffffff;
      text-align: center;
      font-weight: 900;
      padding-top: 16px;
      margin-bottom: 5px;
      }


    .entete5 {

      background-color: #6236ff;
      color: #ffffff;
      text-align: center;
      font-weight: 900;
      padding-top: 8px;
    
      }

.entete_titre {
margin: 0;
font-size: 88px;
text-transform: uppercase;
color: 231f20;

}


.entete_sous-titre {
margin: 0;
font-size: 38px;


}

.colonne1 {
background-color: #ffffff;
color: #231f20;

display: flex;
justify-content: space-around;
align-items: center;

}

.block_texte1 {
text-align: justify;
background-color: #ffffff;
color: #231f20;
margin: 32px;
padding: 48px;

flex-basis: 0;
flex-grow: 1;

}

.block_image1 {
  background: linear-gradient(to bottom, #fcce00, #fcce00 50%, rgba(252, 206, 0, .81) 45%, rgba(252, 206, 0, .81) 45%, rgba(252, 206, 0, .61) 65%, rgba(252, 206, 0, .61) 65%,
   rgba(252, 206, 0, .61) 70%, rgba(252, 206, 0, .41) 70%, rgba(252, 206, 0, .41) 80%,
   rgba(252, 206, 0, .2) 80%, rgba(252, 206, 0, .2) 90%, rgba(252, 206, 0, .2) 90%,  rgba(252, 206, 0, .1) 45%, rgba(252, 206, 0, .1) 45%);
text-align: right;
  mix-blend-mode: darken;
  
  flex-basis: 0;
  flex-grow: 1;
  
  }

.image1 {

mix-blend-mode: darken;
margin-top: 41px;

}

  .learn_more1 {
font-size: 20px;
font-family: Poppins-Bold;
color: #fcce00;
text-align: center;
border: solid 4px;
margin-top: 10px;
margin-left: 36px;
border-radius: 15px;

  }

  .rectangle1 {

  }
  


  .colonne2 {
    background-color: #ffffff;
    color: #231f20;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    }
    
   
    
    .block_image2 {
      background: linear-gradient(to bottom, #ff6b00, #ff6b00 50%, rgba(255, 107, 0, .81) 45%, rgba(255, 107, 0, .81) 45%, rgba(255, 107, 0, .61) 65%, rgba(255, 107, 0, .61) 65%,
      rgba(255, 107, 0, .61) 70%, rgba(255, 107, 0, .41) 70%, rgba(255, 107, 0, .41) 80%,
      rgba(255, 107, 0, .2) 80%, rgba(255, 107, 0, .2) 90%, rgba(255, 107, 0, .2) 90%,  rgba(255, 107, 0, .1) 45%, rgba(255, 107, 0, .1) 45%);
      text-align: center;

     mix-blend-mode: darken;
     
     flex-basis: 0;
     flex-grow: 1;
      
      }

    .block_texte2 {
      text-align: justify;
      background-color: #ffffff;
      color: #231f20;
      margin: 32px;
      padding: 48px;
        
      flex-basis: 0;
      flex-grow: 1;
        
        }

.corps {
font-weight: 900;
text-align: center;

}

.corps_titre {
margin: 0;
font-size: 40px;
font-weight: bold;
padding-top: 64px;
padding-bottom: 64px;

}

.corps_sous_titre{
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  padding-top: 64px;
  padding-bottom: 34px;
  text-align: center;
}

.corps_texte{
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  padding-top: 32px;
  padding-bottom: 42px;
}

}

.corps_sous_titre2{
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  padding-top: 64px;
  padding-bottom: 32px;
  text-align: center;
}

.corps_texte2{
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  padding-top: 32px;
  padding-bottom: 42px;
}

.image2{
  background-color: #ff6b00;
  mix-blend-mode: darken;
  margin-top: 26px;
  
}

.corps_titre2 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  padding-top: 64px;
  padding-bottom: 82px;
  text-align: center;
  color: #231f20;
  font-family: Poppins-Black;

  
  }


  .image3{
    background-color: #e02020;
  
  }

  .titre_blanc1{
    margin: 0;
    font-size: 64px;
    font-weight: bold;
    padding-top: 32px;
    padding-bottom: 82px;
    text-align: center;
    color: #231f20;
    font-family: Poppins;
  }

  .texte_blanc1{
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: justify;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #231f20;
    font-family: Poppins-Regular;
  }

  .image4{
    background-color: #b620e0;
  
  }

  .titre_blanc2{
    margin: 0;
    font-size: 64px;
    font-weight: bold;
    padding-top: 32px;
    padding-bottom: 82px;
    text-align: center;
    color: #231f20;
    font-family: Poppins;
  }


  .image5{
    background-color: #6236ff;
  
  }

  .titre_blanc3{
    margin: 0;
    font-size: 64px;
    font-weight: bold;
    padding-top: 32px;
    padding-bottom: 82px;
    text-align: center;
    color: #231f20;
    font-family: Poppins;
  }